$black_text: #484957;
$error: #b65555;
$primary_light: #833a68;
$primary: #70365b;
$secondary: #2b1e47;
$tertiary: #070814;
$very_light: #9e668b;
$grey: #eee;
$grey_text: #aaa;
$primary_font: 'Nunito';