$primary: #004e8b;
$primary_light: #006ec2;
$black_text: #484957;

$primary: rgb(62, 62, 148);
$secondary: rgb(15, 142, 173);

$primary: rgb(62, 62, 148);
$secondary: rgb(15, 142, 173);

$error: #b65555;

// $primary_light: #683355;
$primary: #49263d;
$primary_light: #833a68;
$primary: #70365b;
$secondary: #221837;
$secondary: #2b1e47;
$tertiary: #070814;