@import '../../constants.scss';

.progress-bar {

    .progress-bar_shell {
        height: 40px;
        border: 1px solid $primary;
        border-radius: 20px;

        background: white;
        padding: 5px;
        
        .progress {
            background: linear-gradient(90deg, $secondary, $primary);
            height: 100%;
            border-radius: 20px;
            position: relative;
            min-width: 40px;
            box-shadow: 4px 1px 7px 0px #949494;
            transition: width 1s;

            .progress-label {
                position: absolute;
                right: 8px;
                height: 30px;
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;

                span {
                    font-weight: 700;
                }
            }
        }
    }
}