@import '../../constants.scss';

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
    background: radial-gradient($primary 5%, $secondary 25%, $tertiary 60%);
    height: 100%;

    canvas {
        opacity: .4;
    }
}