@import '../../constants.scss';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0;
    background: none;
    height: 80px;

    a {
        &:hover {
            text-decoration: none;
        }
    }

    .brand, .link {
        color: white;
        display: flex;
        align-items: center;
    }


    .brand {
        img {
            height: 55px;
            width: 35px;
        }

        p {
            font-size: 28px;
            font-weight: 300;
            font-family: 'Martel Sans';
            position: relative;
            left: 10px;
        } 
    }

    .link {
        justify-content: flex-end;

        p {
            font-size: 18px;
            font-weight: bolder;
        }

        &.active {
            p {
                font-weight: 900;
                position: relative;
                left: 2px;
                text-decoration: underline;
            }
        }
    }

    &.smDown {
        position: fixed;
        background: $tertiary;
        z-index: 10000;
        width: 80%;
    }
}